.nav-top {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	padding: 0;
	background-color: #7a1a1a;
	width: 100%;
	.nav-top-ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #2b2424;
		display: flex;
		align-items: center;
		flex-direction: row;
		width: 100%;
		li {
			/* display: inline; */
			white-space: nowrap;
			padding: 5px 5px;
			a {
				color: white;
				text-decoration: none;
			}
			&:hover {
				background-color: white;
				a {
				color: #111;
				}
			}
			&.clock {
				margin-left:auto;
			}
			&.deco {
				background-color: #531616;
				a {
					color: rgb(255, 208, 0);
				}
				&:hover {
					a {color: white;}
				}
			}
		}
	}
}