.nav-top {
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	padding: 0;
	background-color: #7a1a1a;
	.nav-top-ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #2b2424;
		display: flex;
		flex-direction: row;
		width: 100%;
		li {
			display: inline;white-space: nowrap;
			a {
				color: white;
				padding: 14px 20px;
				text-decoration: none;
				display: inline-block;
				margin-left:auto;
				&:hover {
					background-color: white;
					color: #111;
				}
			}
			&.deco {
				display: inline-block;
				margin-left:auto;
				a {
					background-color: #531616;
					color: rgb(255, 208, 0);
					&:hover {
						color: white;
					}
				}
		}
	}
}